@layout('layouts/static')

@section('title')
  Uh oh... - Ferdi Debugger
@endsection
@section('content')
  <h1>Uh oh...</h1>
  <p>The debug log you are looking for doesn't exist.</p>
  <p>It could never have existed in the first place or it has been deleted since.</p>
@endsection

