@layout('layouts/static')

@section('title')
  Debugger
@endsection
@section('content')
  <h1>🐞 Debugger</h1>
  <p>This website is here to help us find problems in Ferdium<br/>
  - nothing else to see here.</p>
  <a onclick="sendTestNotification()">
    🔔
  </a>
  <p style="margin-top:3rem"><em><a href="https://ferdium.org">Don't have Ferdium yet?</a></em></p>
@endsection
