@layout('layouts/static')

@section('title')
  Ferdi Debugger
@endsection
@section('content')
  <h1>Ferdi Debugger</h1>
  <p>This website is here to help us find problems in Ferdi</p>
  <p>- nothing else to see here.</p>
@endsection
