html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  background-image: url("/splash.png");
  background-color: #EBEBEB;
  color: #414141;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 70px;
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 1rem;
}

.content {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}