<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
  </title>
  <link rel="shortcut icon" type="image/png" href="/logo.png">

  {{ style('styles/404') }}
</head>
<body>
  <div class="content">
    <div>
        <img src="/logo.png" alt="Ferdi Logo" width="200">
      @!section('content')
    </div>
  </div>
</body>
</html>
