<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
  </title>
  <link rel="shortcut icon" type="image/png" href="/logo.png">

  {{ style('styles/404') }}
  {{ script('notification') }}
</head>
<body>
  <div class="header">
    <a href="/"><img src="https://raw.githubusercontent.com/ferdium/ferdium-debugger/main/logo.svg" alt="Ferdium Logo" height="50"></a>
    <a class="github-button" href="https://github.com/ferdium/ferdium-debugger" data-icon="octicon-star" data-show-count="true" aria-label="Star ferdium/ferdium-debugger on GitHub">Star</a>
  </div>
  <div class="content">
    <div>
      @!section('content')
    </div>
  </div>
  <div class="footer">
    2022 © All rights reserved
  </div>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
